.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: papayawhip;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7em;
  --top-offset: 91.9vh;
  --fall-duration: 9.222s;
  --fall-delay: 7.408s;
}
.star:nth-child(2) {
  --star-tail-length: 6.22em;
  --top-offset: 57.25vh;
  --fall-duration: 7.906s;
  --fall-delay: 0.193s;
}
.star:nth-child(3) {
  --star-tail-length: 7.17em;
  --top-offset: 84.61vh;
  --fall-duration: 11.816s;
  --fall-delay: 0.999s;
}
.star:nth-child(4) {
  --star-tail-length: 6.16em;
  --top-offset: 42.06vh;
  --fall-duration: 10.501s;
  --fall-delay: 8.183s;
}
.star:nth-child(5) {
  --star-tail-length: 5.97em;
  --top-offset: 97.44vh;
  --fall-duration: 6.759s;
  --fall-delay: 9.233s;
}
.star:nth-child(6) {
  --star-tail-length: 5.56em;
  --top-offset: 69.14vh;
  --fall-duration: 10.42s;
  --fall-delay: 0.248s;
}
.star:nth-child(7) {
  --star-tail-length: 5.3em;
  --top-offset: 60.52vh;
  --fall-duration: 10.084s;
  --fall-delay: 9.576s;
}
.star:nth-child(8) {
  --star-tail-length: 5.47em;
  --top-offset: 1.46vh;
  --fall-duration: 9.721s;
  --fall-delay: 0.805s;
}
.star:nth-child(9) {
  --star-tail-length: 6.13em;
  --top-offset: 9.9vh;
  --fall-duration: 9.572s;
  --fall-delay: 5.324s;
}
.star:nth-child(10) {
  --star-tail-length: 7.21em;
  --top-offset: 35.29vh;
  --fall-duration: 11.331s;
  --fall-delay: 0.473s;
}
.star:nth-child(11) {
  --star-tail-length: 6.01em;
  --top-offset: 97.73vh;
  --fall-duration: 9.853s;
  --fall-delay: 3.746s;
}
.star:nth-child(12) {
  --star-tail-length: 7.01em;
  --top-offset: 33.93vh;
  --fall-duration: 10.357s;
  --fall-delay: 1.141s;
}
.star:nth-child(13) {
  --star-tail-length: 5.87em;
  --top-offset: 29.99vh;
  --fall-duration: 7.955s;
  --fall-delay: 0.335s;
}
.star:nth-child(14) {
  --star-tail-length: 6.44em;
  --top-offset: 64.71vh;
  --fall-duration: 6.078s;
  --fall-delay: 1.151s;
}
.star:nth-child(15) {
  --star-tail-length: 7.14em;
  --top-offset: 23.03vh;
  --fall-duration: 11.567s;
  --fall-delay: 1.231s;
}
.star:nth-child(16) {
  --star-tail-length: 7.06em;
  --top-offset: 66.05vh;
  --fall-duration: 9.821s;
  --fall-delay: 4.307s;
}
.star:nth-child(17) {
  --star-tail-length: 6.28em;
  --top-offset: 66.63vh;
  --fall-duration: 6.749s;
  --fall-delay: 3.49s;
}
.star:nth-child(18) {
  --star-tail-length: 5.01em;
  --top-offset: 31.55vh;
  --fall-duration: 9.204s;
  --fall-delay: 4.485s;
}
.star:nth-child(19) {
  --star-tail-length: 5.63em;
  --top-offset: 14.66vh;
  --fall-duration: 7.786s;
  --fall-delay: 7.258s;
}
.star:nth-child(20) {
  --star-tail-length: 7.36em;
  --top-offset: 13.45vh;
  --fall-duration: 6.698s;
  --fall-delay: 3.592s;
}
.star:nth-child(21) {
  --star-tail-length: 5.6em;
  --top-offset: 82.01vh;
  --fall-duration: 11.252s;
  --fall-delay: 3.884s;
}
.star:nth-child(22) {
  --star-tail-length: 6.75em;
  --top-offset: 38.41vh;
  --fall-duration: 11.978s;
  --fall-delay: 1.821s;
}
.star:nth-child(23) {
  --star-tail-length: 5.39em;
  --top-offset: 14.58vh;
  --fall-duration: 6.777s;
  --fall-delay: 2.637s;
}
.star:nth-child(24) {
  --star-tail-length: 7.11em;
  --top-offset: 38.08vh;
  --fall-duration: 8.502s;
  --fall-delay: 7.068s;
}
.star:nth-child(25) {
  --star-tail-length: 5.36em;
  --top-offset: 32.87vh;
  --fall-duration: 11.021s;
  --fall-delay: 6.922s;
}
.star:nth-child(26) {
  --star-tail-length: 5.86em;
  --top-offset: 78.89vh;
  --fall-duration: 9.61s;
  --fall-delay: 2.947s;
}
.star:nth-child(27) {
  --star-tail-length: 6.17em;
  --top-offset: 38.83vh;
  --fall-duration: 9.93s;
  --fall-delay: 0.681s;
}
.star:nth-child(28) {
  --star-tail-length: 6.68em;
  --top-offset: 14.59vh;
  --fall-duration: 10.507s;
  --fall-delay: 8.886s;
}
.star:nth-child(29) {
  --star-tail-length: 6.77em;
  --top-offset: 43.42vh;
  --fall-duration: 6.956s;
  --fall-delay: 8.195s;
}
.star:nth-child(30) {
  --star-tail-length: 6.64em;
  --top-offset: 81.65vh;
  --fall-duration: 6.947s;
  --fall-delay: 7.91s;
}
.star:nth-child(31) {
  --star-tail-length: 5.09em;
  --top-offset: 76.95vh;
  --fall-duration: 10.165s;
  --fall-delay: 9.111s;
}
.star:nth-child(32) {
  --star-tail-length: 5.02em;
  --top-offset: 1.99vh;
  --fall-duration: 8.009s;
  --fall-delay: 8.272s;
}
.star:nth-child(33) {
  --star-tail-length: 6.33em;
  --top-offset: 36.53vh;
  --fall-duration: 6.109s;
  --fall-delay: 5.228s;
}
.star:nth-child(34) {
  --star-tail-length: 5.84em;
  --top-offset: 60.93vh;
  --fall-duration: 9.597s;
  --fall-delay: 4.073s;
}
.star:nth-child(35) {
  --star-tail-length: 6.48em;
  --top-offset: 34.16vh;
  --fall-duration: 6.034s;
  --fall-delay: 1.229s;
}
.star:nth-child(36) {
  --star-tail-length: 5.79em;
  --top-offset: 63.13vh;
  --fall-duration: 11.444s;
  --fall-delay: 9.353s;
}
.star:nth-child(37) {
  --star-tail-length: 6.73em;
  --top-offset: 23.93vh;
  --fall-duration: 7.615s;
  --fall-delay: 6.459s;
}
.star:nth-child(38) {
  --star-tail-length: 7.2em;
  --top-offset: 77.88vh;
  --fall-duration: 6.737s;
  --fall-delay: 9.555s;
}
.star:nth-child(39) {
  --star-tail-length: 7.26em;
  --top-offset: 87.92vh;
  --fall-duration: 11.494s;
  --fall-delay: 0.084s;
}
.star:nth-child(40) {
  --star-tail-length: 5.78em;
  --top-offset: 90.59vh;
  --fall-duration: 10.733s;
  --fall-delay: 4.712s;
}
.star:nth-child(41) {
  --star-tail-length: 5.95em;
  --top-offset: 80.98vh;
  --fall-duration: 6.508s;
  --fall-delay: 6.9s;
}
.star:nth-child(42) {
  --star-tail-length: 5.05em;
  --top-offset: 67.7vh;
  --fall-duration: 10.079s;
  --fall-delay: 4.54s;
}
.star:nth-child(43) {
  --star-tail-length: 7.48em;
  --top-offset: 34.86vh;
  --fall-duration: 6.822s;
  --fall-delay: 7.001s;
}
.star:nth-child(44) {
  --star-tail-length: 5.3em;
  --top-offset: 98.59vh;
  --fall-duration: 8.902s;
  --fall-delay: 0.276s;
}
.star:nth-child(45) {
  --star-tail-length: 5.03em;
  --top-offset: 97.15vh;
  --fall-duration: 11.445s;
  --fall-delay: 5.678s;
}
.star:nth-child(46) {
  --star-tail-length: 6.62em;
  --top-offset: 11.14vh;
  --fall-duration: 8.109s;
  --fall-delay: 3.561s;
}
.star:nth-child(47) {
  --star-tail-length: 5.76em;
  --top-offset: 70.75vh;
  --fall-duration: 8.345s;
  --fall-delay: 0.435s;
}
.star:nth-child(48) {
  --star-tail-length: 5.45em;
  --top-offset: 74.95vh;
  --fall-duration: 8.474s;
  --fall-delay: 3.547s;
}
.star:nth-child(49) {
  --star-tail-length: 6.32em;
  --top-offset: 25.42vh;
  --fall-duration: 7.819s;
  --fall-delay: 5.207s;
}
.star:nth-child(50) {
  --star-tail-length: 6.73em;
  --top-offset: 5.17vh;
  --fall-duration: 11.759s;
  --fall-delay: 1.412s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=global.css.map */
