.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: papayawhip;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.03em;
  --top-offset: 73.28vh;
  --fall-duration: 8.495s;
  --fall-delay: 8.501s;
}
.star:nth-child(2) {
  --star-tail-length: 5.19em;
  --top-offset: 70.04vh;
  --fall-duration: 9.376s;
  --fall-delay: 1.564s;
}
.star:nth-child(3) {
  --star-tail-length: 7.25em;
  --top-offset: 32.27vh;
  --fall-duration: 9.431s;
  --fall-delay: 9.819s;
}
.star:nth-child(4) {
  --star-tail-length: 5.9em;
  --top-offset: 38.69vh;
  --fall-duration: 6.799s;
  --fall-delay: 8.572s;
}
.star:nth-child(5) {
  --star-tail-length: 5.17em;
  --top-offset: 83.75vh;
  --fall-duration: 6.077s;
  --fall-delay: 2.538s;
}
.star:nth-child(6) {
  --star-tail-length: 6.64em;
  --top-offset: 73.72vh;
  --fall-duration: 6.805s;
  --fall-delay: 4.688s;
}
.star:nth-child(7) {
  --star-tail-length: 5.97em;
  --top-offset: 45.51vh;
  --fall-duration: 8.295s;
  --fall-delay: 0.05s;
}
.star:nth-child(8) {
  --star-tail-length: 6.16em;
  --top-offset: 59.31vh;
  --fall-duration: 10.031s;
  --fall-delay: 6.329s;
}
.star:nth-child(9) {
  --star-tail-length: 7.33em;
  --top-offset: 50.45vh;
  --fall-duration: 6.459s;
  --fall-delay: 6.068s;
}
.star:nth-child(10) {
  --star-tail-length: 5.28em;
  --top-offset: 33.32vh;
  --fall-duration: 6.377s;
  --fall-delay: 1.978s;
}
.star:nth-child(11) {
  --star-tail-length: 6.64em;
  --top-offset: 14.5vh;
  --fall-duration: 8.969s;
  --fall-delay: 2.84s;
}
.star:nth-child(12) {
  --star-tail-length: 6.37em;
  --top-offset: 67.21vh;
  --fall-duration: 8.102s;
  --fall-delay: 4.175s;
}
.star:nth-child(13) {
  --star-tail-length: 6.04em;
  --top-offset: 7.86vh;
  --fall-duration: 11.308s;
  --fall-delay: 5.292s;
}
.star:nth-child(14) {
  --star-tail-length: 5.39em;
  --top-offset: 49.95vh;
  --fall-duration: 8.491s;
  --fall-delay: 8.909s;
}
.star:nth-child(15) {
  --star-tail-length: 6.66em;
  --top-offset: 42.66vh;
  --fall-duration: 10.582s;
  --fall-delay: 8.992s;
}
.star:nth-child(16) {
  --star-tail-length: 5.33em;
  --top-offset: 55.94vh;
  --fall-duration: 9.75s;
  --fall-delay: 8.399s;
}
.star:nth-child(17) {
  --star-tail-length: 6.74em;
  --top-offset: 17.97vh;
  --fall-duration: 10.785s;
  --fall-delay: 0.464s;
}
.star:nth-child(18) {
  --star-tail-length: 5.47em;
  --top-offset: 6.08vh;
  --fall-duration: 11.568s;
  --fall-delay: 9.484s;
}
.star:nth-child(19) {
  --star-tail-length: 7.48em;
  --top-offset: 16.1vh;
  --fall-duration: 10.651s;
  --fall-delay: 6.633s;
}
.star:nth-child(20) {
  --star-tail-length: 7.02em;
  --top-offset: 48.64vh;
  --fall-duration: 11.941s;
  --fall-delay: 9.933s;
}
.star:nth-child(21) {
  --star-tail-length: 5.94em;
  --top-offset: 47.62vh;
  --fall-duration: 11.993s;
  --fall-delay: 0.823s;
}
.star:nth-child(22) {
  --star-tail-length: 5.71em;
  --top-offset: 1.04vh;
  --fall-duration: 6.582s;
  --fall-delay: 0.275s;
}
.star:nth-child(23) {
  --star-tail-length: 5.47em;
  --top-offset: 80.31vh;
  --fall-duration: 10.883s;
  --fall-delay: 1.167s;
}
.star:nth-child(24) {
  --star-tail-length: 5.07em;
  --top-offset: 75.03vh;
  --fall-duration: 11.96s;
  --fall-delay: 6.37s;
}
.star:nth-child(25) {
  --star-tail-length: 6.68em;
  --top-offset: 51.37vh;
  --fall-duration: 7.135s;
  --fall-delay: 0.243s;
}
.star:nth-child(26) {
  --star-tail-length: 6.24em;
  --top-offset: 58.55vh;
  --fall-duration: 8.389s;
  --fall-delay: 0.768s;
}
.star:nth-child(27) {
  --star-tail-length: 5.13em;
  --top-offset: 24.17vh;
  --fall-duration: 10.833s;
  --fall-delay: 2.177s;
}
.star:nth-child(28) {
  --star-tail-length: 5.16em;
  --top-offset: 27.94vh;
  --fall-duration: 6.379s;
  --fall-delay: 3.819s;
}
.star:nth-child(29) {
  --star-tail-length: 5.94em;
  --top-offset: 37.73vh;
  --fall-duration: 10.812s;
  --fall-delay: 1.288s;
}
.star:nth-child(30) {
  --star-tail-length: 7.01em;
  --top-offset: 34.14vh;
  --fall-duration: 8.982s;
  --fall-delay: 0.012s;
}
.star:nth-child(31) {
  --star-tail-length: 6.07em;
  --top-offset: 28.3vh;
  --fall-duration: 8.684s;
  --fall-delay: 2.273s;
}
.star:nth-child(32) {
  --star-tail-length: 5.78em;
  --top-offset: 45.44vh;
  --fall-duration: 11.362s;
  --fall-delay: 1.67s;
}
.star:nth-child(33) {
  --star-tail-length: 6.81em;
  --top-offset: 12.29vh;
  --fall-duration: 10.509s;
  --fall-delay: 0.324s;
}
.star:nth-child(34) {
  --star-tail-length: 6.74em;
  --top-offset: 42.27vh;
  --fall-duration: 11.727s;
  --fall-delay: 3.684s;
}
.star:nth-child(35) {
  --star-tail-length: 5.85em;
  --top-offset: 83.64vh;
  --fall-duration: 6.997s;
  --fall-delay: 9.343s;
}
.star:nth-child(36) {
  --star-tail-length: 5.48em;
  --top-offset: 61.67vh;
  --fall-duration: 6.019s;
  --fall-delay: 3.338s;
}
.star:nth-child(37) {
  --star-tail-length: 7.17em;
  --top-offset: 44.25vh;
  --fall-duration: 7.41s;
  --fall-delay: 0.341s;
}
.star:nth-child(38) {
  --star-tail-length: 7.26em;
  --top-offset: 92.73vh;
  --fall-duration: 6.882s;
  --fall-delay: 7.835s;
}
.star:nth-child(39) {
  --star-tail-length: 5.83em;
  --top-offset: 89.25vh;
  --fall-duration: 6.363s;
  --fall-delay: 9.032s;
}
.star:nth-child(40) {
  --star-tail-length: 6.2em;
  --top-offset: 83.4vh;
  --fall-duration: 8.749s;
  --fall-delay: 6.289s;
}
.star:nth-child(41) {
  --star-tail-length: 6.43em;
  --top-offset: 92.32vh;
  --fall-duration: 6.063s;
  --fall-delay: 8.811s;
}
.star:nth-child(42) {
  --star-tail-length: 5.79em;
  --top-offset: 64.19vh;
  --fall-duration: 10.343s;
  --fall-delay: 4.815s;
}
.star:nth-child(43) {
  --star-tail-length: 7.48em;
  --top-offset: 49.65vh;
  --fall-duration: 6.543s;
  --fall-delay: 5.984s;
}
.star:nth-child(44) {
  --star-tail-length: 5.99em;
  --top-offset: 78.36vh;
  --fall-duration: 11.643s;
  --fall-delay: 8.498s;
}
.star:nth-child(45) {
  --star-tail-length: 5.07em;
  --top-offset: 46.32vh;
  --fall-duration: 11.343s;
  --fall-delay: 2.032s;
}
.star:nth-child(46) {
  --star-tail-length: 5.46em;
  --top-offset: 11.04vh;
  --fall-duration: 7.264s;
  --fall-delay: 2.578s;
}
.star:nth-child(47) {
  --star-tail-length: 6.97em;
  --top-offset: 43.29vh;
  --fall-duration: 10.378s;
  --fall-delay: 0.035s;
}
.star:nth-child(48) {
  --star-tail-length: 5.16em;
  --top-offset: 38.96vh;
  --fall-duration: 7.748s;
  --fall-delay: 2.434s;
}
.star:nth-child(49) {
  --star-tail-length: 6.15em;
  --top-offset: 36.01vh;
  --fall-duration: 8.462s;
  --fall-delay: 8.754s;
}
.star:nth-child(50) {
  --star-tail-length: 6.14em;
  --top-offset: 45.29vh;
  --fall-duration: 6.381s;
  --fall-delay: 3.044s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=global.css.map */
