/* html {
    background-color: lightblue;
}

body {
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip;
    margin: 0 auto;
} */

/* .statementContainer {
    color: red;
    position: absolute;
    height: 100vh;
} */

body {
    background-color: gold;
}

/* .flexThisBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* main {
    flex: 1 0 auto;
} */

/* footer {
    background-color: lightblue;
    min-height: 50px;
} */

/*************** CANVAS ***********************/


/**************** STATEMENT *******************/

.header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__intro {
    background: rgba(100, 100, 100, 0.5);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #1f1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__intro h1, h2, p {
    text-align: center;
}

/****************** FEATURES **********************/

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    background: lightgreen;
}

.about__card {
    width: 33.3%;
    background: white;
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .about__card__svg svg {
    height: 100%;
    width: 100%;
    margin: 0 1rem;
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.faClock svg {
    color: red;
} */

/******************* PROFILE *******************/

.profile {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    background: steelblue;
}

.profile__set {
    width: 50%;
    background: white;
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__set__image {
    display: flex;
    flex-direction: column;
}

.profile__set__image img {
    object-fit: contain;
}

/****************** PROJECTS ***********************/

.projects {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    background: orange;
}

.projects__header {
    display: flex;
    /* flex-direction: column; */
}

.projects__card {
    width: 33.3%;
    background: white;
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__card__image img {
    object-fit: contain;
}

.projects__card__links {
    display: flex;
    justify-content: space-around;
}

.projects__card__links a {
    text-decoration: none;
    color: #0e0e0e;
    transition: background-position 120ms;
    background-image: linear-gradient(
        transparent 0%, 
        transparent calc(50% - 9px),
        rgba(255, 164, 161, 0.5) calc(50% - 9px),
        rgba(255, 164, 161, 0.5) 100%
    );
    background-size: 100% 200%;
    background-position: 0px 0px;
}

.projects__card__links a:hover {
    background-image: linear-gradient(
        transparent 0%, 
        transparent calc(50% - 9px),
        rgba(255, 164, 161, 1) calc(50% - 9px),
        rgba(255, 164, 161, 1) 100%
    );
    background-position: center center;
    color: green;
}

/******************** FORM ******************/

.contact {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    color: red;
    background: lightblue;
    width: 160%;
}

/*************** FOOTER ********************/

.footer {
    background-color: lightblue;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer__socials {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

/* .footer__attributions {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer__caption {
    padding-top: 10px;
}

/****************** MEDIA ******************************/

@media screen and (max-width: 320px) {

    /* .contact {
        flex-direction: column;
    } */

    /* .projects__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */

    /* .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
    
    .footer a {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .about {
        flex-direction: column;
    }

    .about__card {
        width: 100%;
        margin: 1rem 0;
    }

    .about__profile {
        flex-direction: column;
    }

    .profile {
        flex-direction: column;
    }

    .profile__set {
        width: 100%;
        margin: 1rem 0;
    }

    .projects {
        flex-direction: column;
    }

    .projects__card {
        width: 100%;
        margin: 1rem 0;
    }
}